// colors

$darkblue: #0B0D17;
$lightblue: #cfd7f9;
$white: #fff;
$white40: #ffffff40;
$white70: #ffffff70;

// fonts

/* latin-ext */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/7cHpv4kjgoGqM7E_Ass52Hs.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/7cHpv4kjgoGqM7E_DMs5.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/7cHqv4kjgoGqM7E3t-4s6VospT4.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/7cHqv4kjgoGqM7E3t-4s51os.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/HTx3L3I-JCGChYJ8VI-L6OO_au7B6x_T2kn3.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/HTx3L3I-JCGChYJ8VI-L6OO_au7B6xHT2g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/HTxwL3I-JCGChYJ8VI-L6OO_au7B46r2z3jWuZEC.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/HTxwL3I-JCGChYJ8VI-L6OO_au7B46r2z3bWuQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/kJExBuYY6AAuhiXUxG1N9vo3lOc.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/kJExBuYY6AAuhiXUxG1N-Po3.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
$ff-primary: "Bellefair", serif;
$ff-secondary: "Barlow Condensed", sans-serif;
$ff-normal: "Barlow", sans-serif;

// responsive

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$fhd: 1900px;

@mixin sm-up {@media (min-width: #{$sm}) {@content;}}
@mixin sm-down {@media (max-width: #{$sm - 1px}) {@content;}}
@mixin md-up {@media (min-width: #{$md}) {@content;}}
@mixin md-down {@media (max-width: #{$md - 1px}) {@content;}}
@mixin lg-up {@media (min-width: #{$lg}) {@content;}}
@mixin lg-down {@media (max-width: #{$lg - 1px}) {@content;}}
@mixin xl-up {@media (min-width: #{$xl}) {@content;}}
@mixin xl-down {@media (max-width: #{$xl - 1px}) {@content;}}
@mixin fhd-up {@media (min-width: #{$fhd}) {@content;}}
@mixin fhd-down {@media (max-width: #{$fhd - 1px}) {@content;}}

:root {
  /* font-sizes */
  --fs-900: clamp(5rem, 3.125rem + 8.3333vw, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1.25rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  @include md-up {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.5rem;
    --fs-400: 1rem;
  }
  @include lg-up() {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}

// reset

*,
*::before,
*::after {
  box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p, figure, picture {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 400;
}

body {
  font-family: $ff-normal;
  font-size: var(--fs-400);
  color: $white;
  background-color: $darkblue;
  line-height: 1.6;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;
}

img, picture {
  min-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// utility

.block {
  display: block;
}
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}
.flow {
  > * {
    &:where(:not(:first-child)) {
      margin-top: var(--flow-space, 1rem);
    }
  }
}
.container {
  min-width: 80rem;
  padding-inline: 2em;
  margin-inline: auto;
}

.grid-container {
  display: grid;
  text-align: center;
  place-items: center;
  padding-inline: 1rem;
  align-items: end;
  @include xl-up {
    text-align: left;
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(1rem, 1fr);
    > * {
      &:first-child {
        grid-column: 2;
      }
      &:last-child {
        grid-column: 3;
      }
    }
  }
  * {
    max-width: 50ch;
  }
  &__home {
    @include xl-up() {
      padding-bottom: max(6rem, 20vh);
    }
    &:last-of-type {
      @include xl-down() {
        padding-bottom: 3rem;
      }
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.bg-dark { background-color: $darkblue; }
.bg-accent { background-color: $lightblue; }
.bg-white { background-color: $white; }

.text-dark { color: $darkblue; }
.text-accent { color: $lightblue; }
.text-white { color: $white; }

.ff-primary { font-family: $ff-primary; } 
.ff-secondary { font-family: $ff-secondary; } 
.ff-normal { font-family: $ff-normal; } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.fw-400 { font-weight: 400; }
.fw-700 { font-weight: 700; }

.h1 {
  font-family: $ff-primary;
}

.numbered-title {
  grid-area: title;
  letter-spacing: 4.72px;
  span {
    opacity: .4;
    margin-right: .5em;
  }
}

// components

.large-button {
  font-size: 2rem;
  position: relative;
  display: inline-grid;
  place-items: center;
  padding-inline: 1em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
  z-index: 1;
  @include md-up {
    padding-inline: 2em;
  }
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff10;
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: opacity .5s linear, transform .75s ease-in-out;
  }
  &:is(:hover,:active,:focus) {
    backdrop-filter: blur(0);
    &::after {
      transform: scale(1.5);
      opacity: 1;
      @supports (backdrop-filter: blur(1rem)) {
        backdrop-filter: blur(1rem);
      }
    }
  }
}

.primary-header {
  justify-content: space-between;
  align-items: center;
  &::before {
    @include xl-up {
      content: '';
      display: block;
      position: relative;
      height: 1px;
      width: 100%;
      background: $white40;
      order: 1;
      margin-left: -1.5rem;
      margin-right: -2.5rem;
      z-index: 4;
    }
  }
}

nav {
  @include xl-up {
    order: 2;
  }
}

.logo {
  padding: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
  @include xl-up {
    padding: 3.5rem clamp(1.5rem, 5vw, 3.5rem);
  }
  img {
    width: 40px;
    height: 40px;
    @include md-up() {
      width: 48px;
      height: 48px;
    }
  }
}

.mobile-nav-toggle {
  display: none;
  @include md-down() {
    display: block;
    position: absolute;
    z-index: 3;
    right: 1rem;
    top: 2rem;
    background: transparent;
    background-image: url('../img/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
    &[aria-expanded="true"] {
      background-image: url('../img/icon-close.svg');
      position: fixed;
    }
    &:focus-visible {
      outline: 3px solid $white;
      outline-offset: 5px;
    }
  }
}

.underline-indicators {
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  > * {
    cursor: pointer;
    display: inline;
    background-color: transparent;
    background-image: linear-gradient($white, $white);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 0% 3px;
    transition: background-size 300ms ease-in-out;
    &:hover {
      @include xl-up {
        background-size: 100% 3px;
      }
    }
    span {
      margin-right: .5rem;
    }
  }
}

.primary-navigation {
  &.underline-indicators {
    background-color: #00000095;
    @supports (backdrop-filter: blur(1.5rem)) {
      backdrop-filter: blur(1.5rem);
      background-color: #ffffff10;
    }
    @include md-down() {
      flex-direction: column;
      position: fixed;
      inset: 0 0 0 20%;
      z-index: 2;
      padding: min(20rem, 12vh) 2rem;
      transform: translateX(100%);
      transition: transform .3s ease-in-out;
      li {
        padding: 0 1rem 0;
        border-left: 3px solid transparent;
        &.active {
          border-left: 3px solid $white;
        }
        a {
          display: inline-block;
          width: 100%;
          padding: 0;
        }
      }
    }
    @include md-up() {
      --gap: clamp(1.5rem, 7vw, 3.5rem);
      padding: 2rem clamp(3rem, 10vw, 7rem) 0;
    }
    @include xl-up() {
      margin-block: 2rem;
      // padding: 2rem 7rem 0;
    }
    > * {
      padding: 0 0 2rem;
      &.active {
        @include md-up() {
          background-size: 100% 3px;
        }
      }
    }
    a {
      padding: 0 0 1.5rem;
      text-decoration: none;
      span {
        @include md-up() {
          display: none;
        }
        @include xl-up() {
          display: inline;
        }
      }
    }
    &[data-visible="true"] {
      transform: translateX(0);
    }
  }
}

.tab-list {
  --gap: 2rem;
  &.underline-indicators {
    > * {
      border: 0;
      padding: 0 0 .5rem;
      &[aria-selected="true"] {
        background-size: 100% 3px;
      }
    }
  }
}

.dot-indicators {
  > * {
    border: 0;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: .5em;
    background-color: $white40;
    &:is(:hover) {
      background-color: $white70;
    }
    &[aria-selected="true"] {
      background-color: $white;
    }
  } 
}

.numbered-indicators {
  > * {
    line-height: 1;
    display: grid;
    place-items: center;
    border: 1px solid $white40;
    border-radius: 50%;
    aspect-ratio: 1;
    padding-inline: 1.5rem;
    background-color: $darkblue;
    color: $white;
    &:is(:hover) {
      border-color: $white;
    }
    &[aria-selected="true"] {
      background-color: $white;
      color: $darkblue;
    }
  } 
}

// page specific bg

body {
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
}

main {
  opacity: 0;
  &.see {
    animation: fadeIn 1.5s ease-in-out forwards;
  }
  > * {
    &:where(:not(:first-child)) {
      margin-top: var(--flow-space, 1rem);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home {
  background-image: url('../img/background-home-mobile.jpg');
  @include md-up {
    background-position: center;
    background-image: url('../img/background-home-tablet.jpg');
  }
  @include xl-up {
    background-image: url('../img/background-home-desktop.jpg');
  }
  main {
    @include xl-up {
      max-height: 1000px;
    }
  }
}

.destination {
  background-image: url('../img/background-destination-mobile.jpg');
  @include md-up {
    background-position: center;
    background-image: url('../img/background-destination-tablet.jpg');
  }
  @include xl-up {
    background-image: url('../img/background-destination-desktop.jpg');
  }

  p {
    margin-bottom: .75rem;
  }
  .grid-container {
    --flow-space: 3.5rem;
    grid-template-areas: 
      'title'
      'image'
      'tabs'
      'content'
    ;
    padding-inline: 1rem;
    padding-bottom: 3rem;
    @include xl-up {
      grid-template-areas: 
        '. title title .'
        '. image tabs .'
        '. image content .'
      ;
      justify-items: start;
      align-content: start;
      padding-bottom: 6rem;
    }
    
    > img {
      grid-area: image;
      max-width: 60%;
      min-width: unset;
      @include xl-down {
        margin-bottom: var(--flow-space, 1rem);
      }
      @include xl-up {
        align-self: center;
        justify-self: center;
        max-width: unset;
      }
    }
    > .tab-list {
      grid-area: tabs;
      flex-wrap: wrap;
      margin-bottom: 2rem;
      @include xl-down() {
        justify-content: center;
      }
    }
    > .destination-info {
      --flow-space: 1rem;
      grid-area: content;
    }
    .destination-meta {
      flex-direction: column;
      border-top: 1px solid $white40;
      padding-top: 2.5rem;
      margin-top: 2.5rem;
      @include md-up {
        flex-direction: row;
        justify-content: space-around;
      }
      .flex {
        --gap: 0;
        flex-direction: column;
        align-items: center;
        @include xl-up {
          align-items: flex-start;
        }
      }
    }
    .numbered-title {
      @include md-up {
        justify-self: start;
        margin-top: 2rem;
      }
    }
  }
}