/* latin-ext */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/7cHpv4kjgoGqM7E_Ass52Hs.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/7cHpv4kjgoGqM7E_DMs5.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/7cHqv4kjgoGqM7E3t-4s6VospT4.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/7cHqv4kjgoGqM7E3t-4s51os.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/HTx3L3I-JCGChYJ8VI-L6OO_au7B6x_T2kn3.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/HTx3L3I-JCGChYJ8VI-L6OO_au7B6xHT2g.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/HTxwL3I-JCGChYJ8VI-L6OO_au7B46r2z3jWuZEC.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/HTxwL3I-JCGChYJ8VI-L6OO_au7B46r2z3bWuQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/kJExBuYY6AAuhiXUxG1N9vo3lOc.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/kJExBuYY6AAuhiXUxG1N-Po3.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
  /* font-sizes */
  --fs-900: clamp(5rem, 3.125rem + 8.3333vw, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1.25rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
}
@media (min-width: 768px) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.5rem;
    --fs-400: 1rem;
  }
}
@media (min-width: 992px) {
  :root {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, figure, picture {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 400;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: var(--fs-400);
  color: #fff;
  background-color: #0B0D17;
  line-height: 1.6;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;
}

img, picture {
  min-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.block {
  display: block;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.container {
  min-width: 80rem;
  padding-inline: 2em;
  margin-inline: auto;
}

.grid-container {
  display: grid;
  text-align: center;
  place-items: center;
  padding-inline: 1rem;
  align-items: end;
}
@media (min-width: 1200px) {
  .grid-container {
    text-align: left;
    -moz-column-gap: var(--container-gap, 2rem);
         column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(1rem, 1fr);
  }
  .grid-container > *:first-child {
    grid-column: 2;
  }
  .grid-container > *:last-child {
    grid-column: 3;
  }
}
.grid-container * {
  max-width: 50ch;
}
@media (min-width: 1200px) {
  .grid-container__home {
    padding-bottom: max(6rem, 20vh);
  }
}
@media (max-width: 1199px) {
  .grid-container__home:last-of-type {
    padding-bottom: 3rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.bg-dark {
  background-color: #0B0D17;
}

.bg-accent {
  background-color: #cfd7f9;
}

.bg-white {
  background-color: #fff;
}

.text-dark {
  color: #0B0D17;
}

.text-accent {
  color: #cfd7f9;
}

.text-white {
  color: #fff;
}

.ff-primary {
  font-family: "Bellefair", serif;
}

.ff-secondary {
  font-family: "Barlow Condensed", sans-serif;
}

.ff-normal {
  font-family: "Barlow", sans-serif;
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.h1 {
  font-family: "Bellefair", serif;
}

.numbered-title {
  grid-area: title;
  letter-spacing: 4.72px;
}
.numbered-title span {
  opacity: 0.4;
  margin-right: 0.5em;
}

.large-button {
  font-size: 2rem;
  position: relative;
  display: inline-grid;
  place-items: center;
  padding-inline: 1em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
  z-index: 1;
}
@media (min-width: 768px) {
  .large-button {
    padding-inline: 2em;
  }
}
.large-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.062745098);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s linear, transform 0.75s ease-in-out;
}
.large-button:is(:hover, :active, :focus) {
  -webkit-backdrop-filter: blur(0);
          backdrop-filter: blur(0);
}
.large-button:is(:hover, :active, :focus)::after {
  transform: scale(1.5);
  opacity: 1;
}
@supports ((-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem))) {
  .large-button:is(:hover, :active, :focus)::after {
    -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
  }
}

.primary-header {
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1200px) {
  .primary-header::before {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    background: rgba(255, 255, 255, 0.2509803922);
    order: 1;
    margin-left: -1.5rem;
    margin-right: -2.5rem;
    z-index: 4;
  }
}

@media (min-width: 1200px) {
  nav {
    order: 2;
  }
}

.logo {
  padding: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}
@media (min-width: 1200px) {
  .logo {
    padding: 3.5rem clamp(1.5rem, 5vw, 3.5rem);
  }
}
.logo img {
  width: 40px;
  height: 40px;
}
@media (min-width: 768px) {
  .logo img {
    width: 48px;
    height: 48px;
  }
}

.mobile-nav-toggle {
  display: none;
}
@media (max-width: 767px) {
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 3;
    right: 1rem;
    top: 2rem;
    background: transparent;
    background-image: url("../img/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
  }
  .mobile-nav-toggle[aria-expanded=true] {
    background-image: url("../img/icon-close.svg");
    position: fixed;
  }
  .mobile-nav-toggle:focus-visible {
    outline: 3px solid #fff;
    outline-offset: 5px;
  }
}

.underline-indicators {
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.underline-indicators > * {
  cursor: pointer;
  display: inline;
  background-color: transparent;
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 3px;
  transition: background-size 300ms ease-in-out;
}
@media (min-width: 1200px) {
  .underline-indicators > *:hover {
    background-size: 100% 3px;
  }
}
.underline-indicators > * span {
  margin-right: 0.5rem;
}

.primary-navigation.underline-indicators {
  background-color: rgba(0, 0, 0, 0.5843137255);
}
@supports ((-webkit-backdrop-filter: blur(1.5rem)) or (backdrop-filter: blur(1.5rem))) {
  .primary-navigation.underline-indicators {
    -webkit-backdrop-filter: blur(1.5rem);
            backdrop-filter: blur(1.5rem);
    background-color: rgba(255, 255, 255, 0.062745098);
  }
}
@media (max-width: 767px) {
  .primary-navigation.underline-indicators {
    flex-direction: column;
    position: fixed;
    inset: 0 0 0 20%;
    z-index: 2;
    padding: min(20rem, 12vh) 2rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  .primary-navigation.underline-indicators li {
    padding: 0 1rem 0;
    border-left: 3px solid transparent;
  }
  .primary-navigation.underline-indicators li.active {
    border-left: 3px solid #fff;
  }
  .primary-navigation.underline-indicators li a {
    display: inline-block;
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .primary-navigation.underline-indicators {
    --gap: clamp(1.5rem, 7vw, 3.5rem);
    padding: 2rem clamp(3rem, 10vw, 7rem) 0;
  }
}
@media (min-width: 1200px) {
  .primary-navigation.underline-indicators {
    margin-block: 2rem;
  }
}
.primary-navigation.underline-indicators > * {
  padding: 0 0 2rem;
}
@media (min-width: 768px) {
  .primary-navigation.underline-indicators > *.active {
    background-size: 100% 3px;
  }
}
.primary-navigation.underline-indicators a {
  padding: 0 0 1.5rem;
  text-decoration: none;
}
@media (min-width: 768px) {
  .primary-navigation.underline-indicators a span {
    display: none;
  }
}
@media (min-width: 1200px) {
  .primary-navigation.underline-indicators a span {
    display: inline;
  }
}
.primary-navigation.underline-indicators[data-visible=true] {
  transform: translateX(0);
}

.tab-list {
  --gap: 2rem;
}
.tab-list.underline-indicators > * {
  border: 0;
  padding: 0 0 0.5rem;
}
.tab-list.underline-indicators > *[aria-selected=true] {
  background-size: 100% 3px;
}

.dot-indicators > * {
  border: 0;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.2509803922);
}
.dot-indicators > *:is(:hover) {
  background-color: rgba(255, 255, 255, 0.4392156863);
}
.dot-indicators > *[aria-selected=true] {
  background-color: #fff;
}

.numbered-indicators > * {
  line-height: 1;
  display: grid;
  place-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2509803922);
  border-radius: 50%;
  aspect-ratio: 1;
  padding-inline: 1.5rem;
  background-color: #0B0D17;
  color: #fff;
}
.numbered-indicators > *:is(:hover) {
  border-color: #fff;
}
.numbered-indicators > *[aria-selected=true] {
  background-color: #fff;
  color: #0B0D17;
}

body {
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
}

main {
  opacity: 0;
}
main.see {
  animation: fadeIn 1.5s ease-in-out forwards;
}
main > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home {
  background-image: url("../img/background-home-mobile.jpg");
}
@media (min-width: 768px) {
  .home {
    background-position: center;
    background-image: url("../img/background-home-tablet.jpg");
  }
}
@media (min-width: 1200px) {
  .home {
    background-image: url("../img/background-home-desktop.jpg");
  }
}
@media (min-width: 1200px) {
  .home main {
    max-height: 1000px;
  }
}

.destination {
  background-image: url("../img/background-destination-mobile.jpg");
}
@media (min-width: 768px) {
  .destination {
    background-position: center;
    background-image: url("../img/background-destination-tablet.jpg");
  }
}
@media (min-width: 1200px) {
  .destination {
    background-image: url("../img/background-destination-desktop.jpg");
  }
}
.destination p {
  margin-bottom: 0.75rem;
}
.destination .grid-container {
  --flow-space: 3.5rem;
  grid-template-areas: "title" "image" "tabs" "content";
  padding-inline: 1rem;
  padding-bottom: 3rem;
}
@media (min-width: 1200px) {
  .destination .grid-container {
    grid-template-areas: ". title title ." ". image tabs ." ". image content .";
    justify-items: start;
    align-content: start;
    padding-bottom: 6rem;
  }
}
.destination .grid-container > img {
  grid-area: image;
  max-width: 60%;
  min-width: unset;
}
@media (max-width: 1199px) {
  .destination .grid-container > img {
    margin-bottom: var(--flow-space, 1rem);
  }
}
@media (min-width: 1200px) {
  .destination .grid-container > img {
    align-self: center;
    justify-self: center;
    max-width: unset;
  }
}
.destination .grid-container > .tab-list {
  grid-area: tabs;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
@media (max-width: 1199px) {
  .destination .grid-container > .tab-list {
    justify-content: center;
  }
}
.destination .grid-container > .destination-info {
  --flow-space: 1rem;
  grid-area: content;
}
.destination .grid-container .destination-meta {
  flex-direction: column;
  border-top: 1px solid rgba(255, 255, 255, 0.2509803922);
  padding-top: 2.5rem;
  margin-top: 2.5rem;
}
@media (min-width: 768px) {
  .destination .grid-container .destination-meta {
    flex-direction: row;
    justify-content: space-around;
  }
}
.destination .grid-container .destination-meta .flex {
  --gap: 0;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .destination .grid-container .destination-meta .flex {
    align-items: flex-start;
  }
}
@media (min-width: 768px) {
  .destination .grid-container .numbered-title {
    justify-self: start;
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=index.css.map */