  <div class="grid-container__home">
    <h1 class="fs-500 ff-secondary text-accent uppercase letter-spacing-1">
      Lorem ipsum dolor sit amet<span class="block fs-900 ff-primary text-white">Space</span>
    </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
  <div class="grid-container__home">
    <a href="/cel" onclick="route()" class="large-button uppercase ff-primary text-dark bg-white">Explore</a>
  </div>