<h2 class="numbered-title ff-secondary fs-500 uppercase"><span class="fw-700" aria-hidden="true">01</span> Wybierz planetę</h2>

<img src="assets/img/01merkury.png" alt="Merkury">

<div class="tab-list underline-indicators flex">
  <button aria-selected="true" class="uppercase text-accent letter-spacing-2 bg-dark ff-secondary">Merkury</button>
  <button aria-selected="false" class="uppercase text-accent letter-spacing-2 bg-dark ff-secondary">Wenus</button>
  <button aria-selected="false" class="uppercase text-accent letter-spacing-2 bg-dark ff-secondary">Ziemia</button>
  <button aria-selected="false" class="uppercase text-accent letter-spacing-2 bg-dark ff-secondary">Mars</button>
  <button aria-selected="false" class="uppercase text-accent letter-spacing-2 bg-dark ff-secondary">Jowisz</button>
  <button aria-selected="false" class="uppercase text-accent letter-spacing-2 bg-dark ff-secondary">Saturn</button>
  <button aria-selected="false" class="uppercase text-accent letter-spacing-2 bg-dark ff-secondary">Uran</button>
  <button aria-selected="false" class="uppercase text-accent letter-spacing-2 bg-dark ff-secondary">Neptun</button>
  <button aria-selected="false" class="uppercase text-accent letter-spacing-2 bg-dark ff-secondary">Pluton</button>
</div>

<article class="destination-info flow">
  <h1 class="fs-800 ff-primary uppercase">
    <span class="block text-white">Merkury</span>
  </h1>
  <p class="text-accent">Merkury – najmniejsza planeta w naszym Układzie Słonecznym i najbliższa Słońcu – jest tylko nieznacznie większy od ziemskiego Księżyca. Jego powierzchnię pokrywają dziesiątki tysięcy kraterów uderzeniowych.</p>
  <p class="text-accent">Z powierzchni Merkurego Słońce wydawałoby się ponad trzy razy większe niż widziane z Ziemi, a światło słoneczne byłoby aż 11 razy jaśniejsze.</p>
  <p class="text-accent">Pomimo bliskości Słońca Merkury nie jest najgorętszą planetą w naszym Układzie Słonecznym – tytuł ten należy do pobliskiej Wenus ze względu na jej gęstą atmosferę. Ale Merkury jest najszybszą planetą, okrążającą Słońce co 88 ziemskich dni. Merkury został odpowiednio nazwany na cześć najszybszego ze starożytnych rzymskich bogów.</p>
  </p>

  <div class="destination-meta flex">
    <div class="flex">
      <h3 class="text-accent fs-200 uppercase">Avg. distance</h3>
      <p class="fs-500 ff-primary uppercase">xxx km</p>
    </div>
    <div class="flex">
      <h3 class="text-accent fs-200 uppercase">Est. travel time</h3>
      <p class="fs-500 ff-primary uppercase">xxx</p>
    </div>
  </div>
</article>
